<h2>Add a new Celebrity</h2>
<div>
<form action='/celebrities/create' method='post'>
  <div>
    <label for='name'>Name</label>
    <input type='text' name='name' id='name'/>
  </div>
  <div>
    <label for='occupation'>Occupation</label>
    <input type='text' name='occupation' id='occupation'/>
  </div>
  <div>
    <label for='catchPhrase'>Catch Phrase</label>
    <input type='text' name='catchPhrase' id='catchPhrase'/>
  </div>
  <input type='submit' value='Add'/>
</form>
</div>

<div>
<a href="/celebrities/">See Celebrities</a>
</div>
<div>
<a href="/">Home</a>
</div>
