<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
<a href="/celebrities">See Celebrities</a>
<a href="/celebrities/create">Add a Celebrity</a>
</div>
<div>
<a href="/movies">See Movies</a>
<a href="/movies/create">Add a Movie</a>
</div>
